<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/resources/css/index.css">
    <title></title>
</head>

<body>
    <h1>Raven<h1>

    <h2>Welcome, {{.User.UserName}}</h2>

    <div class="logoutButton">
        <form action="/logout" method="post">
                <input type="submit" value="Logout">
        </form>
    </div>

    <div class="searchBox">
            <form action="/searchUsers" method="post">
                <input type="search" name="searchkeyword" placeholder="Find your new friends, or enemies here." size="50" maxlength="40" required>
                <input type="submit" value="Search">
            </form>
    </div>

    <div class="profileBox">
        <h2>Profile</h2>
        <p>UserName: {{.User.UserName}}</p>
        <p>UserId: {{.User.UserId}}</p>
        <p>UserBio: {{.User.UserBio}}</p>
        <p>Following: {{.User.FollowingNum}}</p>
        <p>Follower: {{.User.FollowerNum}}</p>
    </div>

    <div class="sendMessageBox">
            <form action="/sendMessage" method="post">
                <input type="text" name="message" placeholder="Write Your Message Here." size="100" required>
                <input type="submit" value="Send">
            </form>
    </div>

     <div class="messageBox">
        <p>Messages recieved:</p>
            {{range $index, $msg := .MsgFromFollowing}}
                <div class="messageContainer">
                From {{$msg.SenderName}} : <br> {{$msg.MsgContent}}
                </div>
            {{end}}
            
            <!-- {{range $index, $element := .}}{{$index}}
                {{range $element}}{{.Value}}
                {{end}}
            {{end}} -->
    </div>

    <div class="deleteAccountButton">
        <form action="/deleteAccount" method="post">
                <input type="submit" value="Delete My Account">
        </form>   
    </div>

</body>

</html>