<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/resources/css/index.css">
    <title></title>
</head>

<body>
    <div class="topnav" id="myTopnav">
        <a href="#home" class="active">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a> -->
        <!-- The link with class="icon" is used to open and close the topnav on small screens. -->
    </div>
    <h1>Raven<h1>

    <h2>Welcome, {{.UserName}}</h2>
    <form action="/logout" method="post">
                <input type="submit" value="Logout">
    </form>
    <div>
        <h2>Profile</h2>
        <p>UserName: {{.UserName}}</p>
        <p>UserId: {{.UserId}}</p>
        <div>
            <p>"Grand Maester Pycelle... send a raven to Casterly Rock."</p>
            <form action="/sendMessage" method="post">
                <input type="text" name="message" width="500" height="200" placeholder="Write your message here." maxlength="140">
                <input type="submit" value="Send">
            </form>
        </div>
        <p>Messages recieved:</p>
        <ul>
            {{range $index, $msg :=.PostMsg}}
            <li>{{$msg}}</li>
            {{end}}
            <!-- {{range $index, $element := .}}{{$index}}
{{range $element}}{{.Value}}
{{end}}
{{end}} -->
        </ul>
    </div>
</body>

</html>