<!DOCTYPE html>
<html>

<head>
    <!-- <link rel="stylesheet" type="text/css" href="index.css"> -->
    <title>Raven</title>
</head>

<body>
    <h1>Raven</h1>
    <h2>Welcome, {{.UserName}}<h2>
    <p>Here are your friends:</p>
<ul>
    {{range .Following}}
        <li>{{.FollowingId}}</li>
    {{end}}
</ul>
</body>

</html>