<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/resources/css/index.css">
    <title></title>
</head>

<body>
    <h1>Raven<h1>

    <div class="homeButton">
        <form action="/home" method="post">
                <input type="submit" value="Home">
        </form>
    </div>

    <div class="logoutButton">
        <form action="/logout" method="post">
                <input type="submit" value="Logout">
        </form>   
    </div>

    <div class="profileBox">
        <h2>Profile</h2>
        <p>UserName: {{.User.UserName}}</p>
        <p>UserId: {{.User.UserId}}</p>
        <p>UserBio: {{.User.UserBio}}</p>
        <p>Following: {{.User.FollowingNum}}</p>
        <p>Follower: {{.User.FollowerNum}}</p>
    </div>

    <div class="followUnfollowButton">
        {{if (.IsFollowing) }}
            <form action="/followUsers" method="post">
                <input type="submit" value="Unfollow">
            </form>
        {{else}}
            <form action="/UnfollowUsers" method="post">
                <input type="submit" value="Follow">
            </form>
        {{end}}
    </div>

    <!-- <div class="messageBox">
        <p>Messages recieved:</p>
        <ul>
            {{range $index, $msg :=.PostMsg}}
            <li>{{$msg}}</li>
            {{end}}
            
            {{range $index, $element := .}}{{$index}}
                {{range $element}}{{.Value}}
                {{end}}
            {{end}}
        </ul> 
    </div> -->
</body>

</html>