<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>Raven</title>
</head>

<body>
	<div>
    	<h1>Raven</h1>
    <p>The distributed online news and social networking service on the continent of Westeros.</p>
    </div>
    <div>
    	<h2>Welcome, {{.UserName}}. Sign up below.</h2>
        <form action="/signup" method="post">
            Username:
            <input type="text" name="username" value="Jon Snow"> Password:
            <input type="password" name="password" value="qwerty">
            <input type="submit" value="SignUp">
        </form>
    </div>
    <!-- <h2>To say, or not to say, that is the question:</h2> -->
</body>

</html>